body {
  background-color: #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #373535;
  margin-top: 10px;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.logo a {
  margin-left: 10px;
  margin-top: 10px;
}

.container {
  margin-bottom: 30px;
}

#card-product {
  display: inline;
}

#slider-top {
  height: 300px;
  overflow: hidden;
  background-image: url("../img/wrapper.png");
  background-repeat: left;
  opacity: 0.6;
}

.parallax-container {
  height: 500px;
}

.page-footer {
  background-color: #373535;
  margin-top: 10px;
}

.page-footer .footer-copyright {
  background-color: #322F2F;
}
